.fa {
  color: white;
}

.navbar-text {
  color: white !important;
}

.nav > li > a {
  display: inline;
}

.question-title {
  font-size: 2.4em;
  color: blue;
}

.answer-date {
  font-size: 16px;
}
